.button {
    display: inline-block;
    color: white;
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 0.5s;
    cursor: pointer;

    &:active {
        box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
    }
    &:hover {
        transform: scale(1.1);
    }

    &--link {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &--transparent {
        border: 1px solid #ccc;
        background-color: transparent;
        
        &:active {
            box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
        }
    }

    &--full {
        width: 100%;

        &:hover {
            transform: scale(1.03);
        }
    }
}