.private {
    min-height: 675px;
    padding: 35px 0;
    background: url("./../images/shocolate-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &__img-title {
        padding: 15px;
        font-size: 24px;
        font-family: $ff-bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 83.3%;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        position: absolute;
        top: 50%;

        &--left {
            left: -30%;
            transform: translateY(-50%) rotate(-90deg);
        }

        &--right {
            right: -30%;
            transform: translateY(-50%) rotate(90deg);
        }
    }
}